<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">
	<select id="login" parameterType="JSONObject" resultType="String">
		SELECT
			COALESCE( T1.USER_SEQ, 0 ) AS USER_SEQ
		FROM
			(
				SELECT
					COUNT(1),
					USER_SEQ
				  FROM TB_USER_MNG
				 WHERE USER_ID = #{userId}
		   		   AND USER_PWD = #{userPwd}
			) T1
	</select>

	<select id="selectBucketList" parameterType="hashMap" resultType="CamelJSONObject">
		SELECT ROW_NUMBER() OVER(ORDER BY BUCKET_SEQ DESC) AS RN,
		       BUCKET_SEQ,
			   USER_SEQ,
			   BUCKET_NM,
			   BUCKET_DSCR,
			   REP_IMG_URL,
			   REG_DTTM,
			   DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					 ELSE 'N'
				   END) AS MORE_YN
		FROM   TB_BUCKET_MNG
		WHERE  DEL_YN = 'N'
		<if test="userSeq != null">
			AND USER_SEQ = #{userSeq}
		</if>
		ORDER BY BUCKET_SEQ DESC
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectStoryList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT STORY_SEQ,
			   BUCKET_SEQ,
			   STORY_CONTENTS,
			   IMG_URL,
			   REG_DTTM,
			   DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y' ELSE 'N' END) AS MORE_YN
		FROM TB_STORY_MNG
		WHERE BUCKET_SEQ = #{bucketSeq}
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectAlarmList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT A.ALARM_GUBUN,
			   A.ALARM_NO,
			   A.ALARM_CONTENTS,
			   A.USER_SEQ,
			   A.SEND_USER_SEQ,
			   A.REG_DTTM,
			   (SELECT PROFILE_URL FROM TB_USER_MNG T1 WHERE A.SEND_USER_SEQ = T1.USER_SEQ) AS SEND_PROFILE_URL
		FROM TB_ALARM_MNG A
		INNER JOIN TB_USER_MNG B
				ON A.USER_SEQ = B.USER_SEQ
		WHERE A.USER_SEQ = #{userSeq}
		  AND A.ALARM_GUBUN = #{alarmGubun}
		  AND A.REG_DTTM >= B.REG_DTTM
		ORDER BY A.REG_DTTM DESC
	</select>

	<select id="selectUserList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT *
		FROM TB_USER_MNG
		WHERE USER_ID = #{searchText}
		  AND DEL_YN = 'N'
	</select>



	<select id="selectBucketDtlItem" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT BUCKET_NM,
			   REP_IMG_URL,
			   BUCKET_DSCR
		FROM   TB_BUCKET
		WHERE  BUCKET_SEQNO = #{bucketSeqno}
		AND    DEL_YN = 'N'
	</select>

	<insert id="insertBucket" parameterType="JSONObject" useGeneratedKeys="true" keyProperty="bucketSeqno">
		INSERT INTO TB_BUCKET_MNG
				(BUCKET_SEQ,
				 USER_SEQ,
				 BUCKET_NM,
				 BUCKET_DSCR,
				 REP_IMG_URL,
				 REG_DTTM,
				 DEL_YN)
		VALUES
		       (NEXTVAL(SEQ_BUCKET_MNG),
				'1',
				#{bucketNm},
				'',
				#{repImgUrl},
				now(),
				'N')
	</insert>

	<insert id="insertStory" parameterType="JSONObject" useGeneratedKeys="true" keyProperty="bucketStorySeqno">
		INSERT INTO TB_STORY_MNG
		            (BUCKET_SEQNO,
		             SOTRY_DSCR,
		             IMG_URL,
		             REG_DTTM,
		             DEL_YN)
		VALUES     (#{bucketSeqno},
		            #{storyDscr},
		            #{imgUrl},
		            now(),
		            'N');
	</insert>

	<update id="delBucket" parameterType="JSONObject">
	/*[ SQL ID : BucketMapper.delStory]*/
		UPDATE TB_BUCKET_MNG
		   SET DEL_YN = 'Y'
		 WHERE BUCKET_SEQNO = #{bucketSeqno}
	</update>

</mapper>
