<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">
	<select id="login" parameterType="JSONObject" resultType="String">
		SELECT
			COALESCE( T1.USER_SEQ, 0 ) AS USER_SEQ
		FROM
			(
				SELECT
					COUNT(1),
					USER_SEQ
				  FROM TB_USER_MNG
				 WHERE USER_ID = #{userId}
		   		   AND USER_PWD = #{userPwd}
			) T1
	</select>

	<select id="selectBookmarkList" parameterType="hashMap" resultType="CamelJSONObject">
		SELECT GROUP_CONCAT(BOOKMARK_NO, '') AS bookmarkNo
		FROM TB_BOOKMARK_MNG A
		WHERE A.USER_SEQ = #{userSeq}
	</select>

	<select id="selectBucketList" parameterType="hashMap" resultType="CamelJSONObject">
		SELECT ROW_NUMBER() OVER(ORDER BY BUCKET_SEQ DESC) AS RN,
		       BUCKET_SEQ,
			   USER_SEQ,
			   BUCKET_NM,
			   BUCKET_DSCR,
			   REP_IMG_URL,
			   REG_DTTM,
			   DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					 ELSE 'N'
				   END) AS MORE_YN
		FROM   TB_BUCKET_MNG
		WHERE  DEL_YN = 'N'
		<if test="searchGubun == 'mine'">
			AND USER_SEQ = #{userSeq}
		</if>
		<if test="searchGubun == 'bookmark'">
			AND BUCKET_SEQ IN
			<foreach collection="bookmarkNo" item="arr" open="(" separator="," close=")">
				#{arr}
			</foreach>
		</if>
		<if test="searchGubun == 'searchBucket'">
			AND BUCKET_NM LIKE CONCAT('%',#{searchText},'%')
		</if>
		ORDER BY BUCKET_SEQ DESC
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectStoryList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT ROW_NUMBER() OVER(ORDER BY STORY_SEQ DESC) AS RN, STORY_SEQ,
		       STORY_SEQ,
			   BUCKET_SEQ,
			   STORY_CONTENTS,
			   IMG_URL,
			   REG_DTTM,
			   DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y' ELSE 'N' END) AS MORE_YN
		FROM TB_STORY_MNG
		WHERE BUCKET_SEQ = #{bucketSeq}
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectAlarmList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT A.ALARM_GUBUN,
			   A.ALARM_NO,
			   A.ALARM_CONTENTS,
			   A.USER_SEQ,
			   A.SEND_USER_SEQ,
			   A.REG_DTTM,
			   (SELECT PROFILE_URL FROM TB_USER_MNG T1 WHERE A.SEND_USER_SEQ = T1.USER_SEQ) AS SEND_PROFILE_URL
		FROM TB_ALARM_MNG A
		INNER JOIN TB_USER_MNG B
				ON A.USER_SEQ = B.USER_SEQ
		WHERE A.USER_SEQ = #{userSeq}
		  AND A.ALARM_GUBUN = #{alarmGubun}
		  AND A.REG_DTTM >= B.REG_DTTM
		ORDER BY A.REG_DTTM DESC
	</select>

	<select id="selectUserList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT USER_SEQ,
		       USER_ID,
		       USER_PWD,
		       PROFILE_URL,
		       INTRO_DESC,
		       REG_DTTM,
		       DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					 ELSE 'N'
				   END) AS MORE_YN
		FROM TB_USER_MNG
		WHERE USER_ID LIKE CONCAT('%',#{searchText},'%')
		  AND DEL_YN = 'N'
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectSuggestList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '00'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '01'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '02'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '03'
	</select>

	<select id="selectSuggestDetail" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
			SUGGEST_BUCKET_SEQ,
			SUGGEST_BUCKET_GROUP,
			SUGGEST_BUCKET_NM,
			SCRAP_CNT,
			REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE 1 = 1
		<if test="suggestBucketSeq != null">
			AND SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
		</if>
	</select>


	<select id="selectBucketDtlItem" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT BUCKET_NM,
			   REP_IMG_URL,
			   BUCKET_DSCR
		FROM   TB_BUCKET
		WHERE  BUCKET_SEQNO = #{bucketSeqno}
		AND    DEL_YN = 'N'
	</select>

	<insert id="insertBucket" parameterType="JSONObject">
		INSERT INTO TB_BUCKET_MNG
				(BUCKET_SEQ,
				 USER_SEQ,
				 BUCKET_NM,
				 BUCKET_DSCR,
				 REP_IMG_URL,
				 REG_DTTM,
				 DEL_YN)
		VALUES
		       (NEXTVAL(SEQ_BUCKET_MNG),
				'1',
				#{bucketNm},
				'',
				#{repImgUrl},
				now(),
				'N')
	</insert>

	<insert id="insertSuggestBucket" parameterType="JSONObject">
		INSERT INTO TB_SUGGEST_BUCKET_MNG
				(SUGGEST_BUCKET_SEQ,
		 		SUGGEST_BUCKET_GROUP,
		 		SUGGEST_BUCKET_NM,
		 		SCRAP_CNT,
		 		REP_IMG_URL)
		VALUES(
		       NEXTVAL(SEQ_SUGGEST_BUCKET_MNG),
			   #{suggestBucketGroup},
			   #{suggestBucketNm},
			   0,
			   #{repImgUrl})
	</insert>


	<insert id="insertStory" parameterType="JSONObject" useGeneratedKeys="true" keyProperty="bucketStorySeqno">
		INSERT INTO TB_STORY_MNG
		            (BUCKET_SEQNO,
		             SOTRY_DSCR,
		             IMG_URL,
		             REG_DTTM,
		             DEL_YN)
		VALUES     (#{bucketSeqno},
		            #{storyDscr},
		            #{imgUrl},
		            now(),
		            'N');
	</insert>

	<update id="delBucket" parameterType="JSONObject">
	/*[ SQL ID : BucketMapper.delStory]*/
		UPDATE TB_BUCKET_MNG
		   SET DEL_YN = 'Y'
		 WHERE BUCKET_SEQNO = #{bucketSeqno}
	</update>

	<select id="selectUserInfo" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT USER_SEQ, USER_ID, NICKNAME, USER_PWD, PROFILE_URL, INTRO_DESC, REG_DTTM, DEL_YN
		FROM TB_USER_MNG
		WHERE USER_SEQ = #{userSeq}
	</select>

	<select id="selectBucketDetail" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT A.BUCKET_NM, A.REP_IMG_URL, B.PROFILE_URL, B.USER_ID, B.USER_SEQ, B.NICKNAME, CONCAT(USER_ID, '@', NICKNAME) AS FULL_NAME
		FROM TB_BUCKET_MNG A
		INNER JOIN TB_USER_MNG B
		        ON A.USER_SEQ = B.USER_SEQ
		WHERE BUCKET_SEQ = #{bucketSeq}
		  AND A.DEL_YN = 'N'
	</select>


	<insert id="insertBucketFromSuggest" parameterType="JSONObject">
		INSERT INTO TB_BUCKET_MNG
		(BUCKET_SEQ,
		 USER_SEQ,
		 BUCKET_NM,
		 BUCKET_DSCR,
		 REP_IMG_URL,
		 REG_DTTM,
		 DEL_YN)
		SELECT
			NEXTVAL(SEQ_BUCKET_MNG),
			#{userSeq},
			A.SUGGEST_BUCKET_NM,
			'',
			A.REP_IMG_URL,
			NOW(),
			'N'
		FROM TB_SUGGEST_BUCKET_MNG A
		WHERE A.SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
	</insert>

	<insert id="insertSuggestReply" parameterType="JSONObject">
		INSERT INTO TB_SUGGEST_REPLY(
			SUGGEST_BUCKET_SEQ,
			REPLY_NO,
		    REPLY_CONTENTS,
			USER_SEQ,
			DEL_YN,
			REG_DTTM
	 	) VALUES (
			#{suggestBucketSeq},
			(SELECT NVL(MAX(REPLY_NO), 0) + 1 FROM TB_SUGGEST_REPLY WHERE SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}),
		  	#{replyContents},
			#{userSeq},
			'N',
			NOW()
	 	);
	</insert>



</mapper>
