<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">
	<select id="login" parameterType="JSONObject" resultType="String">
		SELECT
			COALESCE( T1.USER_SEQ, 0 ) AS USER_SEQ
		FROM
			(
				SELECT
					COUNT(1),
					USER_SEQ
				  FROM TB_USER_MNG
				 WHERE USER_ID = #{userId}
		   		   AND USER_PWD = #{userPwd}
			) T1
	</select>

	<select id="selectBucketList" parameterType="hashMap" resultType="CamelJSONObject">
		SELECT ROW_NUMBER() OVER(ORDER BY BUCKET_SEQ DESC) AS RN,
		       BUCKET_SEQ,
			   USER_SEQ,
			   BUCKET_NM,
			   BUCKET_DSCR,
			   REP_IMG_URL,
			   REG_DTTM,
			   DEL_YN,
			   SUCCESS_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					 ELSE 'N'
				   END) AS MORE_YN
		FROM   TB_BUCKET_MNG
		WHERE  DEL_YN = 'N'
		<if test="searchGubun == 'mine'">
			AND USER_SEQ = #{userSeq}
		</if>
		<if test="searchGubun == 'searchBucket'">
			AND BUCKET_NM LIKE CONCAT('%',#{searchText},'%')
		</if>
		<if test="searchGubun == 'suggest'">
			ORDER BY RAND()
		</if>
		<if test="searchGubun == 'mine' or searchGubun == 'new'">
			ORDER BY REG_DTTM DESC
		</if>
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectBookmarkList" parameterType="hashMap" resultType="CamelJSONObject">
		SELECT ROW_NUMBER() OVER(ORDER BY A.BUCKET_SEQ DESC) AS RN,
			A.BUCKET_SEQ,
			A.USER_SEQ,
			A.BUCKET_NM,
			A.BUCKET_DSCR,
			A.REP_IMG_URL,
			A.REG_DTTM,
			A.DEL_YN,
			A.SUCCESS_YN,
			(CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
				  ELSE 'N'
			END) AS MORE_YN
		FROM   TB_BUCKET_MNG A
		INNER JOIN TB_BOOKMARK B
				ON A.BUCKET_SEQ = B.BUCKET_SEQ
		WHERE A.DEL_YN = 'N'
		  AND A.USER_SEQ = #{userSeq}
		ORDER BY B.REG_DTTM DESC
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectStoryList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
		    ROW_NUMBER() OVER(ORDER BY A.STORY_SEQ DESC) AS RN,
			A.STORY_SEQ,
			A.STORY_SEQ,
			A.BUCKET_SEQ,
			A.STORY_CONTENTS,
			A.IMG_URL,
			A.REG_DTTM,
			A.DEL_YN,
			CONCAT(C.USER_ID, '@', C.NICKNAME) AS FULL_NAME,
			(CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y' ELSE 'N' END) AS MORE_YN,
			(SELECT COUNT(T1.REPLY_NO) FROM TB_STORY_REPLY T1 WHERE T1.BUCKET_SEQ = A.BUCKET_SEQ AND T1.STORY_SEQ = A.STORY_SEQ) AS REPLY_CNT
		FROM TB_STORY_MNG A
				 LEFT JOIN TB_BUCKET_MNG B
						   ON A.BUCKET_SEQ = B.BUCKET_SEQ
				 LEFT JOIN TB_USER_MNG C
						   ON B.USER_SEQ = C.USER_SEQ
		WHERE A.BUCKET_SEQ = #{bucketSeq}
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectAlarmList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT A.ALARM_GUBUN,
			   A.ALARM_NO,
			   A.ALARM_CONTENTS,
			   A.USER_SEQ,
			   A.SEND_USER_SEQ,
			   A.REG_DTTM,
			   B.PROFILE_URL,
			   CONCAT(B.USER_ID, '@', B.NICKNAME) AS FULL_NAME
		FROM TB_ALARM_MNG A
		LEFT JOIN TB_USER_MNG B
				ON A.SEND_USER_SEQ = B.USER_SEQ
		WHERE A.ALARM_GUBUN = #{alarmGubun}
		<if test="alarmGubun == '01'">
			AND (A.USER_SEQ = #{userSeq} OR A.USER_SEQ IS NULL)
		</if>
		<if test="alarmGubun == '02'">
			AND A.USER_SEQ = #{userSeq}
		</if>
		ORDER BY A.REG_DTTM DESC
	</select>

	<insert id="insertAlarm" parameterType="JSONObject">
		INSERT INTO TB_ALARM_MNG
		(ALARM_GUBUN, ALARM_NO, ALARM_CONTENTS, USER_SEQ, SEND_USER_SEQ, REG_DTTM)
		VALUES(#{alarmGubun}, NEXTVAL(SEQ_ALARM_MNG), #{alarmContents}, #{userSeq}, #{sendUserSeq}, NOW());
	</insert>

	<select id="selectUserList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT USER_SEQ,
		       USER_ID,
		       USER_PWD,
		       PROFILE_URL,
		       INTRO_DESC,
		       REG_DTTM,
		       DEL_YN,
			   (CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					 ELSE 'N'
				   END) AS MORE_YN
		FROM TB_USER_MNG
		WHERE USER_ID LIKE CONCAT('%',#{searchText},'%')
		  AND DEL_YN = 'N'
		LIMIT  #{stNo}, #{searchCnt}
	</select>

	<select id="selectRandomImgList" resultType="CamelJSONObject">
		SELECT
		    ROW_NUMBER() OVER(ORDER BY SUGGEST_BUCKET_SEQ DESC) AS RN,
			REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
	</select>

	<select id="selectSuggestList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '00'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '01'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '02'
		UNION ALL
		SELECT SUGGEST_BUCKET_SEQ,
			   SUGGEST_BUCKET_GROUP,
			   SUGGEST_BUCKET_NM,
			   SCRAP_CNT,
			   REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE SUGGEST_BUCKET_GROUP = '03'
	</select>

	<select id="selectSuggestDetail" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
			SUGGEST_BUCKET_SEQ,
			SUGGEST_BUCKET_GROUP,
			SUGGEST_BUCKET_NM,
			SCRAP_CNT,
			REP_IMG_URL
		FROM TB_SUGGEST_BUCKET_MNG
		WHERE 1 = 1
		<if test="suggestBucketSeq != null">
			AND SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
		</if>
	</select>

	<insert id="insertBucket" parameterType="JSONObject">
		INSERT INTO TB_BUCKET_MNG
				(BUCKET_SEQ,
				 USER_SEQ,
				 BUCKET_NM,
				 BUCKET_DSCR,
				 REP_IMG_URL,
				 SUCCESS_YN,
				 REG_DTTM,
				 DEL_YN)
		VALUES
		       (NEXTVAL(SEQ_BUCKET_MNG),
				'1',
				#{bucketNm},
				'',
				#{repImgUrl},
		        'N'
				now(),
				'N')
	</insert>

	<insert id="insertStory" parameterType="JSONObject">
		INSERT INTO TB_STORY_MNG
				(STORY_SEQ,
				 BUCKET_SEQ,
				 STORY_CONTENTS,
				 IMG_URL,
				 REG_DTTM,
				 DEL_YN)
		VALUES(
				(SELECT NVL(MAX(A.STORY_SEQ + 1), 0) FROM TB_STORY_MNG A WHERE A.BUCKET_SEQ = #{bucketSeq}),
				#{bucketSeq},
				#{storyContents},
				#{imgUrl},
				NOW(),
				'N');
	</insert>

	<insert id="insertSuggestBucket" parameterType="JSONObject">
		INSERT INTO TB_SUGGEST_BUCKET_MNG
				(SUGGEST_BUCKET_SEQ,
		 		SUGGEST_BUCKET_GROUP,
		 		SUGGEST_BUCKET_NM,
		 		SCRAP_CNT,
		 		REP_IMG_URL)
		VALUES(
		       NEXTVAL(SEQ_SUGGEST_BUCKET_MNG),
			   #{suggestBucketGroup},
			   #{suggestBucketNm},
			   0,
			   #{repImgUrl})
	</insert>

	<update id="delBucket" parameterType="JSONObject">
		UPDATE TB_BUCKET_MNG
		   SET DEL_YN = 'Y'
		 WHERE BUCKET_SEQNO = #{bucketSeqno}
	</update>

	<select id="selectUserInfo" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT USER_SEQ, USER_ID, NICKNAME, USER_PWD, PROFILE_URL, INTRO_DESC, REG_DTTM, DEL_YN, CONCAT(USER_ID, '@', NICKNAME) AS FULL_NAME
		FROM TB_USER_MNG
		WHERE USER_SEQ = #{userSeq}
	</select>

	<select id="selectBucketDetail" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT A.BUCKET_NM,
		       A.REP_IMG_URL,
		       B.PROFILE_URL,
		       B.USER_ID,
		       B.USER_SEQ,
		       B.NICKNAME,
		       A.SUCCESS_YN,
		       CONCAT(USER_ID, '@', NICKNAME) AS FULL_NAME,
			   (CASE WHEN C.BUCKET_SEQ IS NOT NULL
					 THEN 'Y'
					 ELSE 'N'
				END) AS ADDED_BOOKMARK_YN,
			   (CASE WHEN D.TARGET_USER_SEQ IS NOT NULL
					 THEN 'Y'
				 ELSE 'N'
			   END) AS FOLLOW_YN
		FROM TB_BUCKET_MNG A
		INNER JOIN TB_USER_MNG B
		        ON A.USER_SEQ = B.USER_SEQ
		LEFT JOIN TB_BOOKMARK C
				ON A.BUCKET_SEQ = C.BUCKET_SEQ
			   AND B.USER_SEQ = C.USER_SEQ
		LEFT JOIN TB_FOLLOW_MNG D
				ON A.USER_SEQ = D.TARGET_USER_SEQ
		WHERE A.BUCKET_SEQ = #{bucketSeq}
		  AND A.DEL_YN = 'N'
	</select>


	<insert id="insertBucketFromSuggest" parameterType="JSONObject">
		INSERT INTO TB_BUCKET_MNG
		(BUCKET_SEQ,
		 USER_SEQ,
		 BUCKET_NM,
		 BUCKET_DSCR,
		 REP_IMG_URL,
		 REG_DTTM,
		 DEL_YN)
		SELECT
			NEXTVAL(SEQ_BUCKET_MNG),
			#{userSeq},
			A.SUGGEST_BUCKET_NM,
			'',
			A.REP_IMG_URL,
			NOW(),
			'N'
		FROM TB_SUGGEST_BUCKET_MNG A
		WHERE A.SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
	</insert>

	<insert id="insertSuggestReply" parameterType="JSONObject">
		INSERT INTO TB_SUGGEST_REPLY(
			SUGGEST_BUCKET_SEQ,
			REPLY_NO,
		    REPLY_CONTENTS,
			USER_SEQ,
			DEL_YN,
			REG_DTTM
	 	) VALUES (
			#{suggestBucketSeq},
			(SELECT NVL(MAX(A.REPLY_NO), 0) + 1 FROM TB_SUGGEST_REPLY A WHERE A.SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}),
		  	#{replyContents},
			#{userSeq},
			'N',
			NOW()
	 	);
	</insert>

	<insert id="insertStoryReply" parameterType="JSONObject">
		INSERT INTO TB_STORY_REPLY
			(REPLY_NO,
			STORY_SEQ,
			BUCKET_SEQ,
			USER_SEQ,
			REPLY_CONTENTS,
			DEL_YN,
			REG_DTTM)
		VALUES(
			(SELECT NVL(MAX(A.REPLY_NO), 0) + 1 FROM TB_STORY_REPLY A WHERE A.STORY_SEQ = #{storySeq} AND A.BUCKET_SEQ = #{bucketSeq}),
			#{storySeq},
			#{bucketSeq},
			#{userSeq},
			'테스트',
			'N',
			NOW())
	</insert>

	<insert id="insertBookmark" parameterType="JSONObject">
		INSERT INTO TB_BOOKMARK (
			USER_SEQ,
		 	BUCKET_SEQ,
		 	REG_DTTM
		) VALUES (
			#{userSeq},
			#{bucketSeq},
			NOW())
	</insert>

	<delete id="deleteBookmark" parameterType="JSONObject">
		DELETE FROM TB_BOOKMARK
		WHERE USER_SEQ = #{userSeq}
		  AND BUCKET_SEQ = #{bucketSeq}
	</delete>

	<select id="selectStoryReplyList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
			ROW_NUMBER() OVER(ORDER BY REPLY_NO DESC) AS RN,
			(CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
				  ELSE 'N'
			END) AS MORE_YN,
			REPLY_NO,
			USER_SEQ,
			REPLY_CONTENTS,
			DEL_YN,
			REG_DTTM
		FROM TB_STORY_REPLY
		WHERE BUCKET_SEQ = #{bucketSeq}
		  AND STORY_SEQ = #{storySeq}
	</select>

	<select id="selectSuggestReplyList" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
		    A.REPLY_NO,
		    A.USER_SEQ,
		    A.REPLY_CONTENTS,
			A.REG_DTTM,
		    B.NICKNAME,
		    B.PROFILE_URL,
			ROW_NUMBER() OVER(ORDER BY REPLY_NO DESC) AS RN,
			(CASE WHEN Count(*) OVER() > ( #{stNo} + #{searchCnt} ) THEN 'Y'
					ELSE 'N'
			END) AS MORE_YN
		FROM TB_SUGGEST_REPLY A
				 LEFT JOIN TB_USER_MNG B
						   ON A.USER_SEQ = B.USER_SEQ
		WHERE A.DEL_YN = 'N'
		  AND SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
		ORDER BY RN
	</select>

	<select id="selectSuggestReplyCnt" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT COUNT(*) AS CNT
		FROM TB_SUGGEST_REPLY
		WHERE SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
	</select>

	<delete id="deleteSuggestReply" parameterType="JSONObject">
		DELETE FROM TB_SUGGEST_REPLY
		WHERE SUGGEST_BUCKET_SEQ = #{suggestBucketSeq}
		AND REPLY_NO = #{replyNo}
	</delete>

	<update id="updateUserInfo" parameterType="JSONObject">
		UPDATE TB_USER_MNG
		SET	NICKNAME = #{nickname},
		<if test="profileUrl != 'null'">
			PROFILE_URL = #{profileUrl},
		</if>
			INTRO_DESC = #{introDesc}
		WHERE USER_SEQ = #{userSeq}
	</update>

	<insert id="insertFollow" parameterType="JSONObject">
		INSERT INTO TB_FOLLOW_MNG
		(USER_SEQ, TARGET_USER_SEQ, REG_DTTM)
		VALUES(#{userSeq}, #{targetUserSeq}, NOW());
	</insert>

	<delete id="deleteFollow" parameterType="JSONObject">
		DELETE FROM TB_FOLLOW_MNG
		WHERE USER_SEQ = #{userSeq}
		  AND TARGET_USER_SEQ = #{targetUserSeq}
	</delete>

	<update id="updateSuccessYn" parameterType="JSONObject">
		UPDATE TB_BUCKET_MNG
		   SET SUCCESS_YN = #{successYn}
		 WHERE BUCKET_SEQ = #{bucketSeq}
	</update>

	<delete id="deleteBucket" parameterType="JSONObject">
		DELETE FROM TB_BUCKET_MNG
		WHERE BUCKET_SEQ = #{bucketSeq}
	</delete>

	<delete id="deleteStory" parameterType="JSONObject">
		DELETE FROM TB_STORY_MNG
		WHERE BUCKET_SEQ = #{bucketSeq}
		  AND STORY_SEQ = #{storySeq}
	</delete>

	<select id="selectMyCnt" parameterType="JSONObject" resultType="CamelJSONObject">
		SELECT
			(SELECT COUNT(1)
			 FROM TB_BUCKET_MNG
			 WHERE USER_SEQ = #{userSeq}) AS BUCKET_CNT,
			(SELECT COUNT(1)
			 FROM TB_BUCKET_MNG A
					  INNER JOIN TB_STORY_MNG B
								 ON A.BUCKET_SEQ = B.BUCKET_SEQ
			 WHERE USER_SEQ = #{userSeq}) AS STORY_CNT,
			(SELECT COUNT(1)
			 FROM TB_BUCKET_MNG
			 WHERE USER_SEQ = #{userSeq}
			   AND SUCCESS_YN = 'Y') AS SUCCESS_CNT
		FROM DUAL
	</select>
</mapper>
